$primary: #FE9700;
$h1-font-size: 2rem;
$h2-font-size: 1.7rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1rem;
$h6-font-size: 1rem;
$font-family-sans-serif: "Noto Sans JP", Helvetica, Arial, sans-serif;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
